#App{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 97.6vw;
    margin-top: 6%;
    margin-left: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

@media only screen and (min-width: 763px){#App{margin-top: 0;}}